<template>
    <div class="container">
        <div class="grid-4">
            <div class="grid-4-col footer-about">
                <h3 class="title-sm">About</h3>
                <p class="text">
                    Hello. I am a web programmer.
                    For the last 3 years, I have been studying web development and now I work as a freelancer.
                </p>
            </div>

            <div class="grid-4-col footer-links">
                <h3 class="title-sm">Links</h3>
                <ul>
                    <li>
                        <a href="#header">Home</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                </ul>
            </div>

            <div class="grid-4-col footer-links">
                <h3 class="title-sm">Services</h3>
                <ul>
                    <li>
                        <a href="#">Web Design</a>
                    </li>
                    <li>
                        <a href="#">Software Development</a>
                    </li>
                    <li>
                        <a href="#">CRM Systems</a>
                    </li>
                    <li>
                        <a href="#">Web Engineer</a>
                    </li>
                </ul>
            </div>

            <div class="grid-4-col footer-newstletter">
                <h3 class="title-sm">Portfolio</h3>
                <p class="text">
                    Go to portfolio
                </p>
                <a
                    href="#portfolio"
                    class="btn"
                    style="margin-top: 3rem;"
                >
                    portfolio
                </a>
            </div>
        </div>

        <div class="bottom-footer">
            <div class="copyright">
                <p class="text">
                    &copy; Copyright 2020 - 2021 All rights reserved | Made by
                    <span>Mirsaid Akhmedov</span>
                </p>
            </div>

            <div class="followme-wrap">
                <div class="followme">
                    <h3>Follow me</h3>
                    <span class="footer-line"></span>
                    <div class="social-media">
                        <a href="https://gitlab.com/MirikAkhmedov">
                            <i class="fab fa-gitlab"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/mirsaid-akhmedov-1581b01b9/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="mailto:akhmedovmirik@gmail.com">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="https://www.facebook.com/mirsaid.axmedov.9">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/akhmedovmirsaid">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="back-btn-wrap">
                    <a href="#" class="back-btn">
                        <i class="fas fa-chevron-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>